# =====================================================
# Python
# =====================================================

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# =====================================================
# Virtual environments
# =====================================================

.venv/
venv/
env/

# =====================================================
# Python caches
# =====================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# =====================================================
# Build artifacts
# =====================================================

build/
dist/
*.egg-info/

# =====================================================
# OS files
# =====================================================

Thumbs.db
.DS_Store